* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

:root {
    --primary-bg-color: #E5E5E8;
    --primary-bg-blue: linear-gradient(0deg, rgba(136,166,192,1) 0%, rgba(53,93,127,1) 100%);
    --primary-bg-blue-light: linear-gradient(0deg, rgba(233,240,246,1) 0%, rgba(183,197,210,1) 100%);
    --primary-bg-wh-gray: #F6F6F6;
    --primary-border: 1px solid #ADADAD;
    --primary-board-icolor: #ECEDF3;
    --primary-text-color: #000;
    --primary-text-blue: #476C8E;
    --primary-text-white: #fff;
    --primary-white-bg: #fff;
    --primary-white-border: 1px solid #696969;
    --primary-bf-smf: 1px solid #375576;
    --primary-nav-wrap: linear-gradient(180deg, rgba(115,146,176,1) 0%, rgba(76,112,146,1) 97%);
    --primary-nav-wrap-shadow: 0px 0.5px 0px 0.5px rgb(255 255 255), 0px 1px 0px 1px rgb(0 0 0 / 75%);
    --all-white-border: 1px solid #fff;
    --all-bottom-border: solid 1px #9BAEBF;
    --primary-search-bg: #fff;        
}  
  

.darkmode {
    --primary-bg-color: #13171a;
    --primary-bg-blue: #191f23;
    --primary-bg-blue-light: #1e262b;
    --primary-bg-wh-gray: #181d21;
    --primary-border: 1px solid #181d21;
    --primary-board-icolor: #1e252a;
    --primary-text-color: #adb8c1;
    --primary-text-blue: #416185;
    --primary-text-white: #adb8c1;
    --primary-white-bg: #13171a;
    --primary-white-border: 1px solid #252d33;
    --primary-bf-smf: 1px solid #1a1f24;
    --primary-nav-wrap: #112430; 
    --primary-nav-wrap-shadow: 0px 0.5px 0px 0.5px #252d33, 0px 1px 0px 1px rgba(11, 19, 32, 0.75);
    --all-white-border: 1px solid #354049;
    --all-bottom-border: solid 1px #3a4650;
    --primary-search-bg: #283137;
}  
  
html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}
  
body {
    font-family: verdana, sans-serif;
    line-height: 1;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
  }

p {
    font-size: 13px;
    color: var(--primary-text-color);
    line-height: 1.3;
}

.container {
    max-width: 1285px;
    margin: 10px auto;
}

.bt-header {
    padding: 1px;
	border: var(--primary-white-border);
	background-color: var(--primary-white-bg);
}

.bf-smf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--primary-bf-smf);
    padding: 4px 10px;
    background: var(--primary-bg-blue);
;
}

.bf-smf h1 {
    font-size: 1.8rem;
    color: var(--primary-text-white);
}

.bt-data {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 11px;
    margin-bottom: 1px;
    background: var(--primary-bg-blue-light);
    border-top: var(--all-white-border);
    border-bottom: var(--all-bottom-border);
}

.bt-data span {
    font-size: 11px;
}

.user-area {
    background-color: var(--primary-bg-wh-gray);
    border: var(--primary-border);
    padding: 9px 10px;
}

.user-area span {
    font-size: 11.7px;
}

.news-bar span {
    font-size: 11px;
}

.news-and-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 12px;
    background: var(--primary-bg-blue-light);
    border-top: var(--all-white-border);
    border-bottom: var(--all-bottom-border);
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-button {
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#search-ph {
    width: 190px;
    padding: 2px;
    background-color: var(--primary-search-bg);
    border: none;
}

.search-btn {
    width: 11ex;
    cursor: pointer;
    /* background-color: var(--primary-nav-wrap);
    border: 0; */
    padding: 2px;
}

.nav-wrap {
    display: flex;
    max-width: 272px;
    max-height: 100%;
    padding: 4px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--primary-nav-wrap);
    box-shadow: var(--primary-nav-wrap-shadow);

}

.nav-list {
    display: flex;
}

.nav-list a {
    text-decoration: none;
    color: var(--primary-text-white);
    padding: 2px 6px 6px 6px;
    font-size: 9px;
    font-family: tahoma, sans-serif;
    text-transform: uppercase;
}

.nav-list a:hover {
    color: #e0e0ff;
}

ul[role="list"] {
    list-style: none;
  }

.f-title {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
}

.f-title h2 {
    font-size: 13px;
}

.bt-forum {
    padding: 1px;
	border: var(--primary-white-border);
	background-color: var(--primary-white-bg);
}



.section-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--primary-bf-smf);
    padding: 6px 10px;
    background: var(--primary-bg-blue);
}

.section-name h2 {
    color: var(--primary-text-white);
    font-size: 13px;
}

.bt-board {
    display: flex;
    padding: 1px;
}

.board-icon {
    width: 77px;
    background-color: var(--primary-board-icolor);
    /* height: 100px; */
    align-items: center;
    display: flex;
    justify-content: center;
    border: var(--primary-border);
}

.board-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 827px;
    padding: 7px;
    background-color: var(--primary-bg-wh-gray);
    border: var(--primary-border);
}

.board-name h3 a {
    color: var(--primary-text-blue);
    text-decoration: none;
    font-size: 13px;
}

.board-name h3 a:hover {
    text-decoration: underline;
}

.board-details {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 96px;
    background-color: var(--primary-board-icolor);
    border: var(--primary-border);
}

.board-details p {
    font-size: 11px;
}

.board-authors {
    display: flex;
    align-items: center;
    width: 280px;
    background-color: var(--primary-bg-wh-gray);
    padding: 10px;
    border: var(--primary-border);
}

.board-authors p {
    font-size: 11px;
}

.board-authors p a {
    color: var(--primary-text-blue);
    text-decoration: none;
}


.moderator {
    font-size: 11px;
    font-style: italic;
}

.moderator a {
    color: var(--primary-text-blue);
    text-decoration: none;
}

/* Visit thread Nav */

.thread-nav {
    padding: 14px 0;
    margin-bottom: 20px;
}

.thread-nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.thread-nav-link {
    font-size: 13px;
    color: var(--primary-text-color);
    text-decoration: none;
}


.thread-nav-link:hover {
    text-decoration: underline;
}

.pages {
    padding-bottom: 4px;
}

.pages small {
    font-size: 13px;
}

/* Thread view */

.thread-info-bg {
    padding: 1px;
	border: var(--primary-white-border);
	background-color: var(--primary-white-bg);
}

.thread-info {
    display: grid;
    grid-template-columns: 0.4fr 1.5fr 10fr;
    align-items: center;
    padding: 3px 10px;
    background: var(--primary-bg-blue);
}

.topic-author, .topic-name {
    color: var(--primary-text-white);
    font-size: 12.7px;
}

.auth-and-post {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: var(--primary-board-icolor);
    border: var(--primary-border);
    grid-auto-rows: 60px auto;
}

.author-section {
    padding: 10px;
}

.author a {
    font-size: 13px;
    font-weight: bold;
    color: var(--primary-text-blue);
    text-decoration: none;
}

.author a:hover {
    text-decoration: underline;
}

.rank, .activity, .merit, .personal-text {
    font-size: 11px;
}

.post-details {
    display: grid;
    max-height: 55px;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 12px;
    column-gap: 5px;
    border-bottom: 1px solid #666666;
    max-width: 99%;
}

.post-title a {
    font-size: 13px;
    color: var(--primary-text-blue);
    text-decoration: none;
    font-weight: bold;
}

.post-title a:hover {
    text-decoration: underline;
}

.post-date {
    font-size: 11px;
}

.post {
    grid-column: 2;
}

.post p {
    font-size: 13px;
}

.post p a {
    color: var(--primary-text-blue);
    text-decoration: none;
}

.post p a:hover {
    text-decoration: underline;
}

.advert {
    display: grid;
    justify-content: center;
}

.dark-mode-toggle {
    position: relative;
    color: var(--foreground);
    border: 2px solid currentColor;
    padding: 3px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 26px;
    height: 25px;
  }

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }

    /* .container {
        padding: 3px;
    } */
}